
.color-green{
    background: rgb(77, 255, 77);
}

.color-yellow{
    background: yellow;
}

.color-red{
    background: red
}

.completed-assignment{
    background: #0788E5;
    color: rgb(231, 231, 231);
}

.date-indicator{
    padding: 3%;
}