.footer-container{
    background-color: rgb(91, 91, 91);
    height: 10rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.useful-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 60%;
    color: rgb(255, 244, 244);
}

.vertical-line{
    border-left: 1px solid white;
    position: relative;
    left: 50%
}

.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: rgb(255, 244, 244);
}