
.group{
    padding: 0 5% 5% 5%;
}

.desc-container{
    margin: 5% 5% 3% 5%;
    padding: 2%;
    background: white;
    width: 40%;
    border-radius: 1rem;
}

.meta{
    display: grid;
    grid-template-rows: 1.5rem 1.5rem;
}

.employee-meta span{
    color: gray;
}

.employee-desc-container h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(39, 39, 39, 0.837);
}

.desc-window{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filter-asgn{
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
}

.desc-window div .btn{
    height: 3rem;
    margin-left: 5%;
}

.btn-window{
    text-align: center;
}



